@import "common/var.css";


@b w{
  @e message{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--color-background-base);

    @m content{
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 400px;
      min-height: 80px;
      transform: translateX(-50%) translateY(-50%);
      background-color:var(--color-white);
      font-size:18px;
      display:table-cell;
      vertical-align: middle;
    }
    @m icon{
      font-size:40px;
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
    }

    @m text{
      position: absolute;
      width: calc(100% - 130px);
      left: 100px;
      top: 50%;
      transform: translateY(-50%);
      font-size:16px;
    }

    @m close{
      position: absolute;
      right: 10px;
      top:50%;
      transform: translateY(-50%);
      font-size:20px;
      cursor: pointer;
      color:#909399;
    }
    @m close:hover{
      color:#409eff;
    }
    
    @m success{
      color: #13ce66;
    }
    @m info{
      color:#409eff;
    }
    @m warning{
      color:#e6a23c;
    }
    @m error{
      color:#f56c6c;
    }
  }

  
}